* {
    color: rgb(255, 255, 255);
}

::-webkit-scrollbar {
    display: none;
}

body{
    background-color: rgb(32, 32, 35);
    font-size: 20px;
    display: block;
    text-align: center;
}

a {
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-decoration: none;
}

.nav-link {
    color: white;
}

/* INDEX PAGE */
.description {
    margin: 80px auto;
    background-color: rgb(49, 49, 52);
    border-radius: 10px;
    padding: 20px;
    min-width: 550px;
    max-width: 550px;
}

.name {
    position: absolute;
    top: 170px;
    left: -115px;
    right: 300px;
    bottom: 10px;
    font-size: 30px;
    font-weight: 700;
    height: 0px;
}

.name2 {
    position: absolute;
    top: 210px;
    left: -15px;
    right: 300px;
    bottom: 10px;
    font-size: 30px;
    font-weight: 700;
    height: 0px;
}

.perfil-description {
    position: absolute;
    top: 270px;
    left: 0px;
    right: 445px;
    font-size: 23px;
    height: 0px;
}

.img {
    position: absolute;
    margin-top: -40px;
    margin-left: 155px;
    border-radius: 50%;
    height: 120px;
    border: rgb(255, 255, 255) 3px solid;
}

.bio {
    position: absolute;
    top: 320px;
    left: -215px;
    right: 300px;
    bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    text-decoration: underline;
    height: 0px;
}

.bio-year-1 {
    position: absolute;
    top: 360px;
    left: -200px;
    right: 300px;
    bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    height: 0px;
}

.bio-description-1 {
    position: absolute;
    top: 360px;
    left: 350px;
    right: 50px;
    bottom: 10px;
    font-size: 20px;
    height: 0px;
}

.bio-year-2 {
    position: absolute;
    top: 390px;
    left: -200px;
    right: 300px;
    bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    height: 0px;
}

.bio-description-2 {
    position: absolute;
    top: 390px;
    left: 150px;
    right: 50px;
    bottom: 10px;
    font-size: 20px;
    height: 0px;
}

.hobbies {
    text-decoration: underline;
    position: absolute;
    top: 440px;
    left: -170px;
    right: 300px;
    bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    height: 0px;
}

.hobbies-list {
    position: absolute;
    top: 470px;
    left: -70px;
    right: 0px;
    bottom: 10px;
    font-size: 20px;
    height: 0px;
}

.social {
    position: absolute;
    top: 520px;
    left: -440px;
    right: 0px;
    bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    text-decoration: underline;
    height: 0px;
}

svg {
    margin-left: 10px;
}

.github-link {
    position: relative;
    margin-top: 220px;
    color: rgb(139, 185, 235);
    background-color: rgb(32, 32, 35);
    font-weight: 700;
    margin-left: -420px;
}

.github-link:hover {
    color: rgb(139, 185, 235);
}

.linkedin-link {
    position: relative;
    margin-top: 340px;
    color: rgb(140, 186, 235);
    background-color: rgb(32, 32, 35);
    font-weight: 700;
    margin-left: -175px;
}

.linkedin-link:hover {
    color: rgb(139, 185, 235);   
}

.email-link {
    position: relative;
    margin-top: 460px;
    color: rgb(140, 186, 235);
    background-color: rgb(32, 32, 35);
    font-weight: 700;
    margin-left: -175px;
}

.email-link:hover {
    color: rgb(139, 185, 235);   
}

.todo {
    position: absolute;
    width: 250px;
    margin-top: 20px;
    margin-left: -275px;
    border-radius: 5px;
}

.booklist {
    position: absolute;
    width: 250px;
    margin-top: 20px;
    margin-left: 25px;
    border-radius: 5px;
}

.label-todo {
    position: absolute;
    top: 880px;
    bottom: 0px;
    left: -455px;
    right: 0px;
    font-size: 20px;
    font-weight: 700;
    height: 0px;
}

.label-booklist {
    position: absolute;
    top: 880px;
    left: 260px;
    right: 100px;
    bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    height: 0px;
}

.btn-projects {
    font-weight: 700;
    position: absolute;
    margin-top: 210px;
    margin-left: -66px;
}

.footer {
    color: rgb(77, 77, 79);
    font-size: 16px;
    position: relative;
    margin-top: 280px;
    padding-bottom: 20px;
}

.footer-analog-clock {
    color: rgb(77, 77, 79);
    font-size: 16px;
    position: relative;
    margin-top: 280px;
    padding-bottom: 20px;
    margin-top: 60%;
}

/* WORKS PAGE */
.main-container {
    padding: 100px 0 10px 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.container img {
    width: 250px;
    border-radius: 5px;
}

.container-info {
    padding: 15px 0;
}

.title {
    font-size: 20px;
}

h1 {
    font-size: 20px;
    margin-bottom: 30px;
}

.subtitle {
    font-size: 13px;
}

.container h4 {
    color: rgb(77, 77, 79);
    font-size: 16px;
    margin-top: 30px;
}

button {
    margin-top: 20px;
}
/* END WORKS PAGE*/

.booklist-features {
    position: absolute;
    left: 5%;
    top: 110%;
}

.booklist-platform-label {
    float: left;
    font-size: 16px;
    margin-right: 20px;
    background: rgb(139, 185, 235, 0.5);
    padding: 0px 5px;
}

.booklist-platform {
    float: left;
    font-weight: 400;
    font-size: 16px;
    color: rgb(139, 185, 235);
}

.booklist-platform:hover {
    color: rgb(255, 255, 255);
}

.booklist-features-github {
    position: absolute;
    left: 5%;
    top: 125%;  
}

.booklist-github-label {
    float: left;
    font-size: 16px;
    margin-right: 20px;
    padding: 0px 5px;
    background: rgb(139, 185, 235, 0.5);
}

.booklist-github-link {
    float: left;
    font-weight: 400;
    font-size: 16px;
    color: rgb(139, 185, 235);
}

.booklist-link:hover {
    color: rgb(255, 255, 255);
}

.booklist-tech-label {
    position: absolute;
    top: 140%;
}

.booklist-tech-list {
    position: absolute;
    top: 150%;
}

.booklist-img {
    position: absolute;
    width: 100%;
    top: 190%;
    left: 0%;
}

.footer-booklist {
    color: rgb(77, 77, 79);
    font-size: 16px;
    position: absolute;
    top: 150%;
    width: 100%;
    padding-bottom: 2%;
}

#contenedor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 0px;
    width: 530px;
    margin: 100px auto 50px auto;
  }
  
  #contenedor > div {
    width: 50%;
    font-weight: 700;
  }

  #year {
    color: rgb(139, 185, 235);
  }

.analog-clock-full-description {
    width: 530px;
    margin: 0 auto;
    text-align: justify;
}

.analog-clock-features {
    position: absolute;
    left: 5%;
    top: 120%;
}

.analog-clock-platform-label {
    float: left;
    font-size: 16px;
    margin-right: 20px;
    background: rgb(139, 185, 235, 0.5);
    padding: 0px 5px;
}

.analog-clock-platform {
    float: left;
    font-weight: 400;
    font-size: 16px;
    color: rgb(139, 185, 235);
}

.analog-clock-platform:hover {
    color: rgb(255, 255, 255);
}

.analog-clock-features-github {
    position: absolute;
    left: 5%;
    top: 160%;
}

.analog-clock-github-label {
    float: left;
    font-size: 16px;
    margin-right: 20px;
    padding: 0px 5px;
    background: rgb(139, 185, 235, 0.5);
}

.analog-clock-github-link {
    float: left;
    font-weight: 400;
    font-size: 16px;
    color: rgb(139, 185, 235);
}

.analog-clock-github-link:hover {
    color: rgb(255, 255, 255);
}

.analog-clock-tech-label {
    position: absolute;
    top: 220%;
}

.analog-clock-tech-list {
    position: absolute;
    margin-top: 45%;
}

.analog-clock-img {
    position: absolute;
    width: 550px;
    margin-left: -100%;
    margin-top: 65%;
}

.todo-features {
    width: 530px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: justify;
}

.todo-platform-label {
    float: left;
    font-size: 16px;
    margin-right: 20px;
    background: rgb(139, 185, 235, 0.5);
    padding: 0px 5px;
}

.todo-platform {
    float: left;
    font-weight: 400;
    font-size: 16px;
    color: rgb(139, 185, 235);
}

.todo-platform:hover {
    color: rgb(255, 255, 255);
}

.todo-features-github {
    width: 530px;
    margin: 0 auto;
    margin-top: 80px;
    text-align: justify;
}

.todo-github-label {
    float: left;
    font-size: 16px;
    margin-right: 20px;
    background: rgb(139, 185, 235, 0.5);
    padding: 0px 5px;
}

.todo-github-link {
    float: left;
    font-weight: 400;
    font-size: 16px;
    color: rgb(139, 185, 235);
}

.todo-github-link:hover {
    color: rgb(255, 255, 255);
}

.todo-tech-label {
    width: 530px;
    margin: 0 auto;
    margin-top: 130px;
    text-align: justify;
}

.todo-tech-list {
    width: 530px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: justify;
}

.todo-img {
    width: 530px;
    margin: 0 auto;
    margin-top: 20px;
}

.footer-todo {
    color: rgb(77, 77, 79);
    font-size: 16px;
    width: 530px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
}

/* X-Small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 575px) {
    /****************** INDEX PAGE ***************/
    .name {
        position: absolute;
        top: 200px;
        left: 0;
        right: 0;
        bottom: 0;
        margin-left: 35px;
        text-align: left;
    }

    .name2 {
        position: absolute;
        top: 240px;
        left: 0;
        right: 0;
        bottom: 0;
        margin-left: 35px;
        text-align: left;
    }

    .perfil-description {
        position: absolute;
        top: 300px;
        left: 30px;
        right: 30px;
        bottom: 0;
        margin-left: 5px;
        text-align: left;
    }

    .img {
        position: absolute;
        margin-top: 90px;
        margin-left: -70px;
        border-radius: 50%;
        height: 140px;
        border: rgb(255, 255, 255) 3px solid;
    }

    .bio {
        position: absolute;
        top: 500px;
        left: 0px;
        right: 0px;
        bottom: 10px;
        font-size: 20px;
        font-weight: 700;
        text-decoration: underline;
        margin-left: 35px;
        text-align: left;
    }

    .bio-year-1 {
        position: absolute;
        top: 540px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        font-size: 20px;
        font-weight: 700;
        margin-left: 35px;
        text-align: left;
    }

    .description {
        margin: 80px auto;
        background-color: rgb(49, 49, 52);
        border-radius: 10px;
        padding: 20px;
        min-width: calc(60% - 50px);
        max-width: calc(95% - 50px);
    }

    .bio-description-1 {
        position: absolute;
        top: 540px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        font-size: 20px;
        margin-left: 95px;
        text-align: left;
    }

    .bio-year-2 {
        position: absolute;
        top: 600px;
        left:  0px;
        right: 0px;
        bottom: 0px;
        font-size: 20px;
        font-weight: 700;
        margin-left: 35px;
        text-align: left;
    }

    .bio-description-2 {
        position: absolute;
        top: 600px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        font-size: 20px;
        margin-left: 95px;
        text-align: left;
    }

    .hobbies {
        text-decoration: underline;
        position: absolute;
        top: 690px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        font-size: 20px;
        font-weight: 700;
        margin-left: 35px;
        text-align: left;
    }

    .hobbies-list {
        position: absolute;
        top: 730px;
        left: 0px;
        right: 25px;
        bottom: 0px;
        font-size: 20px;
        margin-left: 35px;
        text-align: justify;
    }

    .social {
        position: absolute;
        top: 800px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        font-size: 20px;
        font-weight: 700;
        text-decoration: underline;
        margin-left: 35px;
        text-align: left;
    }

    .github-link {
        position: relative;
        left: 177px;
        top: 120px;
        margin-right: 0%;
        color: rgb(139, 185, 235);
        background-color: rgb(32, 32, 35);
        font-weight: 700;
    
    }

    .linkedin-link {
        position: relative;
        top: 125px;
        left: 177px;
        margin-right: 0%;
        color: rgb(140, 186, 235);
        background-color: rgb(32, 32, 35);
        font-weight: 700;
    }

    .email-link {
        position: relative;
        left: 177px;
        margin-right: 33%;
        margin-top: 728px;
        color: rgb(140, 186, 235);
        background-color: rgb(32, 32, 35);
        font-weight: 700;
    }
    
    .todo {
        display: none;
    }

    .booklist {
        display: none;
    }

    .label-todo {
        position: absolute;
        margin-top: 33%;
        top: 30%;
        left: 0px;
        font-size: 20px;
        font-weight: 700;
        height: 0px;
        color: white;
    }

    .label-booklist {
        position: absolute;
        margin-top: 33%;
        top: 30%;
        left: 30%;
        font-size: 20px;
        font-weight: 700;
        height: 0px;
        color: white;
    }
    .container {
        flex-direction: column;
        gap: 0px;
    }
    
    .container-info {
        padding: 0;

    }

    .container .container-project {
        padding-bottom: 35px;
    }

    .footer-index-responsive {
        position: absolute;
        margin-top: 70px;
    }

    /************* PROJECT DETAILS PAGE ******************/
    #contenedor {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: 0px;
        width: 90%;
        margin: 100px auto 0px auto;
    }

    .todo-img {
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
    }

    .analog-clock-full-description {
        width: 90%;
        margin-top: 40px;
    }

    .footer-todo {
        color: rgb(77, 77, 79);
        font-size: 16px;
        width: 90%;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .todo-tech-label {
        width: 90%;
    }

    .todo-tech-list {
        width: 90%;
    }

    .todo-features {
        width: 90%;
    }

    .todo-features-github {
        width: 90%;
    }
}

/* Tablets y phablets */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* INDEX PAGE */
    .content-index {
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 2000px;
    }

    .name {
        margin-right: 0px;
    }

    .name2 {
        position: absolute;
        left: 0px;
        top: 170px;
        right: 45px;
        bottom: 0px;
    }

    .content-image {
        margin: 150px auto;
        border-radius: 50%;
        border: rgb(255, 255, 255) 3px solid;
        padding: 13px;
        width: 120px;
        height: 120px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background: url(Me.jpeg);
        background-size: cover;
    }

    img.img {
        display: none;
    }

    .perfil-description {
        top: 220px;
        height: 0px;
    }

    .bio {
        position: absolute;
        top: 420px;
        left: 0px;
        right: 510px;
        bottom: 10px;
        font-size: 20px;
        font-weight: 700;
        text-decoration: underline;
    }

    .bio-year-1 {
        position: absolute;
        top: 460px;
        left: 0px;
        right: 500px;
        bottom: 10px;
        font-size: 20px;
        font-weight: 700;
    }

    .bio-description-1 {
        position: absolute;
        top: 460px;
        left: 0px;
        right: 150px;
        bottom: 0px;
        font-size: 20px;
    }

    .bio-year-2 {
        position: absolute;
        top: 490px;
        left: 0px;
        right: 500px;
        bottom: 10px;
        font-size: 20px;
        font-weight: 700;
    }

    .bio-description-2 {
        position: absolute;
        top: 490px;
        left: 52px;
        right: 0px;
        bottom: 0px;
        font-size: 20px;
    }

    .hobbies {
        text-decoration: underline;
        position: absolute;
        top: 540px;
        left: 0px;
        right: 465px;
        bottom: 10px;
        font-size: 20px;
        font-weight: 700;
    }

    .hobbies-list {
        position: absolute;
        top: 570px;
        left: -65px;
        right: 0px;
        bottom: 10px;
        font-size: 20px;
    }

    .social {
        position: absolute;
        top: 620px;
        left: 0px;
        right: 440px;
        bottom: 10px;
        font-size: 20px;
        font-weight: 700;
        text-decoration: underline;
    }

    .content-social {
        height: 0px;
    }

    .github-link {
        position: relative;
        margin-top: -20px;
        color: rgb(139, 185, 235);
        background-color: rgb(32, 32, 35);
        font-weight: 700;
    }

    .linkedin-link {
        position: relative;
        margin-top: 90px;
        color: rgb(140, 186, 235);
        background-color: rgb(32, 32, 35);
        font-weight: 700;
    }

    .email-link {
        position: relative;
        margin-top: 210px;
        color: rgb(140, 186, 235);
        background-color: rgb(32, 32, 35);
        font-weight: 700;
    }

    .todo {
        position: absolute;
        width: 250px;
        margin-top: 270px;
        margin-left: -270px;
        border-radius: 5px;
        opacity: 1;
    }

    .booklist {
        position: absolute;
        width: 250px;
        margin-top: 270px;
        border-radius: 5px;
        opacity: 1;
    }

    .label-todo {
        position: absolute;
        top: 970px;
        bottom: 0px;
        left: -445px;
        right: 0px;
        font-size: 20px;
        font-weight: 700;
    }

    .label-todo-works {
        font-size: 20px;
    }

    .label-booklist {
        position: absolute;
        top: 970px;
        left: 160px;
        right: 0px;
        bottom: 10px;
        font-size: 20px;
        font-weight: 700;
    }

    .btn-projects {
        font-weight: 700;
        position: absolute;
        margin-top: 450px;
        margin-left: -66px;
    }

    .footer {
        color: rgb(77, 77, 79);
        font-size: 16px;
        width: 90%;
        margin: auto;
        margin-top: 500px;
        margin-bottom: 10px;
    }
}