* {
    color: rgb(255, 255, 255);
}
body{
    background-color: rgb(32, 32, 35);
    font-size: 20px;
    display: block;
    text-align: center;
}

a {
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-decoration: none;
}

.nav-link {
    color: white;
}

/* INDEX PAGE */
.description {
    margin: 80px auto;
    background-color: rgb(49, 49, 52);
    border-radius: 10px;
    padding: 20px;
    min-width: 550px;
    max-width: 550px;
}

.name {
    position: absolute;
    top: 170px;
    left: -115px;
    right: 300px;
    bottom: 10px;
    font-size: 30px;
    font-weight: 700;
}

.name2 {
    position: absolute;
    top: 210px;
    left: -15px;
    right: 300px;
    bottom: 10px;
    font-size: 30px;
    font-weight: 700;
}

.perfil-description {
    position: absolute;
    top: 270px;
    left: 0px;
    right: 158px;
    font-size: 23px;
}

.img {
    position: absolute;
    margin-top: -40px;
    margin-left: 155px;
    border-radius: 50%;
    height: 120px;
    border: rgb(255, 255, 255) 3px solid;
}

.bio {
    position: absolute;
    top: 320px;
    left: -215px;
    right: 300px;
    bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    text-decoration: underline;
}

.bio-year-1 {
    position: absolute;
    top: 360px;
    left: -200px;
    right: 300px;
    bottom: 10px;
    font-size: 20px;
    font-weight: 700;
}

.bio-description-1 {
    position: absolute;
    top: 360px;
    left: 350px;
    right: 50px;
    bottom: 10px;
    font-size: 20px;
}

.bio-year-2 {
    position: absolute;
    top: 390px;
    left: -200px;
    right: 300px;
    bottom: 10px;
    font-size: 20px;
    font-weight: 700;
}

.bio-description-2 {
    position: absolute;
    top: 390px;
    left: 150px;
    right: 50px;
    bottom: 10px;
    font-size: 20px;
}

.hobbies {
    text-decoration: underline;
    position: absolute;
    top: 440px;
    left: -170px;
    right: 300px;
    bottom: 10px;
    font-size: 20px;
    font-weight: 700;
}

.hobbies-list {
    position: absolute;
    top: 470px;
    left: -70px;
    right: 0px;
    bottom: 10px;
    font-size: 20px;
}

.social {
    position: absolute;
    top: 520px;
    left: -440px;
    right: 0px;
    bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    text-decoration: underline;
}

svg {
    margin-left: 10px;
}

.github-link {
    position: relative;
    margin-top: 280px;
    color: rgb(139, 185, 235);
    background-color: rgb(32, 32, 35);
    font-weight: 700;
    margin-left: -390px;
}

.github-link:hover {
    color: rgb(139, 185, 235);
}

.linkedin-link {
    position: relative;
    margin-top: 400px;
    color: rgb(140, 186, 235);
    background-color: rgb(32, 32, 35);
    font-weight: 700;
    margin-left: -175px;
}

.linkedin-link:hover {
    color: rgb(139, 185, 235);   
}

.todo {
    position: absolute;
    width: 250px;
    margin-top: 20px;
    margin-left: -275px;
    border-radius: 5px;
    opacity: 0.5;
}

.todo:hover {
    opacity: 1;
}

.booklist {
    position: absolute;
    width: 250px;
    margin-top: 20px;
    margin-left: 25px;
    border-radius: 5px;
    opacity: 0.5;
}

.booklist:hover {
    opacity: 1;
}

.label-todo {
    position: absolute;
    top: 820px;
    bottom: 0px;
    left: -455px;
    right: 0px;
    font-size: 20px;
    font-weight: 700;
    height: 0px;
}

.label-booklist {
    position: absolute;
    top: 820px;
    left: 260px;
    right: 100px;
    bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    height: 0px;
}

.btn-projects {
    font-weight: 700;
    position: absolute;
    margin-top: 220px;
    margin-left: -66px;
}

.footer {
    color: rgb(77, 77, 79);
    font-size: 16px;
    position: relative;
    margin-top: 280px;
    padding-bottom: 20px;
}

/* WORKS PAGE */
.footer-works {
    color: rgb(77, 77, 79);
    font-size: 16px;
    position: relative;
    top: 1030px;
    left: 0px;
    padding-bottom: 20px;
}

.footer-analog-clock {
    color: rgb(77, 77, 79);
    font-size: 16px;
    position: relative;
    margin-top: 280px;
    padding-bottom: 20px;
    margin-top: 60%;
}

.works {
    position: absolute;
    top: 100px;
    right: 50px;
    bottom: 50px;
    left: -420px;
    font-weight: 700;
}

.todo-works {
    position: absolute;
    width: 250px;
    margin-top: 880px;
    margin-left: -265px;
    border-radius: 5px;
    opacity: 0.5;
    margin-top: 150px;
}

.todo-works:hover {
    opacity: 1;
}

.booklist-works {
    position: absolute;
    width: 250px;
    margin-top: 880px;
    margin-left: 10px;
    border-radius: 5px;
    opacity: 0.5;
    margin-top: 150px;
}

.booklist-works:hover {
    opacity: 1;
}

.label-todo-works {
    position: absolute;
    top: 280px;
    right: 0px;
    bottom: 0px;
    left: -435px;
    font-weight: 700;
    font-size: 20px;
}

.label-booklist-works {
    position: absolute;
    top: 280px;
    right: 0px;
    bottom: 0px;
    left: 130px;
    font-weight: 700;
    height: 0px;
    font-size: 20px;
}

.todo-description {
    position: absolute;
    top: 310px;
    right: 50px;
    bottom: 50px;
    left: -245px;
    font-weight: 400;
    font-size: 16px;
}

.booklist-description {
    position: absolute;
    top: 310px;
    right: 0px;
    bottom: 0px;
    left: 145px;
    font-weight: 400;
    font-size: 16px;
    height: 0px;
}

.booklist-features {
    position: absolute;
    left: 5%;
    top: 110%;
}

.booklist-platform-label {
    float: left;
    font-size: 16px;
    margin-right: 20px;
    background: rgb(139, 185, 235, 0.5);
    padding: 0px 5px;
}

.booklist-platform {
    float: left;
    font-weight: 400;
    font-size: 16px;
    color: rgb(139, 185, 235);
}

.booklist-platform:hover {
    color: rgb(255, 255, 255);
}

.booklist-features-github {
    position: absolute;
    left: 5%;
    top: 125%;  
}

.booklist-github-label {
    float: left;
    font-size: 16px;
    margin-right: 20px;
    padding: 0px 5px;
    background: rgb(139, 185, 235, 0.5);
}

.booklist-github-link {
    float: left;
    font-weight: 400;
    font-size: 16px;
    color: rgb(139, 185, 235);
}

.booklist-link:hover {
    color: rgb(255, 255, 255);
}

.booklist-tech-label {
    position: absolute;
    top: 140%;
}

.booklist-tech-list {
    position: absolute;
    top: 150%;
}

.booklist-img {
    position: absolute;
    width: 100%;
    top: 190%;
    left: 0%;
}

.footer-booklist {
    color: rgb(77, 77, 79);
    font-size: 16px;
    position: absolute;
    top: 150%;
    width: 100%;
    padding-bottom: 2%;
}

.dictionary {
    position: absolute;
    width: 250px;
    margin-top: 370px;
    margin-left: -265px;
    border-radius: 5px;
    opacity: 0.5;
}

.dictionary:hover {
    opacity: 1;
}

.analog-clock {
    position: absolute;
    width: 250px;
    margin-top: 370px;
    margin-left: 10px;
    border-radius: 5px;
    opacity: 0.5;
}

.analog-clock:hover {
    opacity: 1;
}

.label-dictionary {
    position: absolute;
    top: 500px;
    right: 0px;
    bottom: 50px;
    left: -385px;
    font-weight: 700;
    font-size: 20px;
}

.dictionary-description {
    position: absolute;
    top: 530px;
    right: 0px;
    bottom: 50px;
    left: -290px;
    font-size: 16px;
    font-weight: 400;
}

.label-analog-clock {
    position: absolute;
    top: 500px;
    right: 50px;
    bottom: 50px;
    left: 200px;
    font-weight: 700;
    height: 0px;
    font-size: 20px;
}

.analog-clock-description {
    position: absolute;
    top: 530px;
    right: 50px;
    bottom: 50px;
    left: 260px;
    font-size: 16px;
    font-weight: 400;
    height: 0px;
}

.top-content-clock {
    position: absolute;
    left: 0px;
    top: 100px;
    right: 0px;
    bottom: 2000px;
}

.analog-clock-title {
    font-weight: 700;
    font-size: 18px;
    margin-right: 20px;
}

.analog-clock-year {
    position: absolute;
    left: 140px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    font-weight: 400;
    font-size: 18px;
    color: rgb(139, 185, 235);
}

.analog-clock-full-description {
    width: 530px;
    margin: 0 auto;
    margin-top: 150px;
    text-align: justify;
}

.analog-clock-features {
    position: absolute;
    left: 5%;
    top: 120%;
}

.analog-clock-platform-label {
    float: left;
    font-size: 16px;
    margin-right: 20px;
    background: rgb(139, 185, 235, 0.5);
    padding: 0px 5px;
}

.analog-clock-platform {
    float: left;
    font-weight: 400;
    font-size: 16px;
    color: rgb(139, 185, 235);
}

.analog-clock-platform:hover {
    color: rgb(255, 255, 255);
}

.analog-clock-features-github {
    position: absolute;
    left: 5%;
    top: 160%;
}

.analog-clock-github-label {
    float: left;
    font-size: 16px;
    margin-right: 20px;
    padding: 0px 5px;
    background: rgb(139, 185, 235, 0.5);
}

.analog-clock-github-link {
    float: left;
    font-weight: 400;
    font-size: 16px;
    color: rgb(139, 185, 235);
}

.analog-clock-github-link:hover {
    color: rgb(255, 255, 255);
}

.analog-clock-tech-label {
    position: absolute;
    top: 220%;
}

.analog-clock-tech-list {
    position: absolute;
    margin-top: 45%;
}

.analog-clock-img {
    position: absolute;
    width: 550px;
    margin-left: -100%;
    margin-top: 65%;
}

.coffe {
    position: absolute;
    width: 250px;
    margin-top: 590px;
    margin-left: -265px;
    border-radius: 5px;
    opacity: 0.5;
}

.coffe:hover {
    opacity: 1;
}

.label-coffe {
    position: absolute;
    top: 280px;
    right: 0px;
    bottom: 0px;
    left: -475px;
    font-weight: 700;
}

.coffe-description {
    position: absolute;
    top: 310px;
    right: 0px;
    bottom: 0px;
    left: -315px;
    font-weight: 400;
    font-size: 16px;
}

.label-bienes-raices {
    position: absolute;
    top: 280px;
    right: 0px;
    bottom: 0px;
    left: 140px;
    font-weight: 700;
    height: 0px;
}

.bienes-raices-description {
    position: absolute;
    top: 310px;
    right: 0px;
    bottom: 0px;
    left: 215px;
    font-weight: 400;
    font-size: 16px;
    height: 0px;
}

.todo-features {
    width: 530px;
    margin: 0 auto;
    margin-top: 30px;
    text-align: justify;
}

.todo-platform-label {
    float: left;
    font-size: 16px;
    margin-right: 20px;
    background: rgb(139, 185, 235, 0.5);
    padding: 0px 5px;
}

.todo-platform {
    float: left;
    font-weight: 400;
    font-size: 16px;
    color: rgb(139, 185, 235);
}

.todo-platform:hover {
    color: rgb(255, 255, 255);
}

.todo-features-github {
    width: 530px;
    margin: 0 auto;
    margin-top: 80px;
    text-align: justify;
}

.todo-github-label {
    float: left;
    font-size: 16px;
    margin-right: 20px;
    background: rgb(139, 185, 235, 0.5);
    padding: 0px 5px;
}

.todo-github-link {
    float: left;
    font-weight: 400;
    font-size: 16px;
    color: rgb(139, 185, 235);
}

.todo-github-link:hover {
    color: rgb(255, 255, 255);
}

.todo-tech-label {
    width: 530px;
    margin: 0 auto;
    margin-top: 130px;
    text-align: justify;
}

.todo-tech-list {
    width: 530px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: justify;
}

.todo-img {
    width: 530px;
    margin: 0 auto;
    margin-top: 20px;
}

.footer-todo {
    color: rgb(77, 77, 79);
    font-size: 16px;
    width: 530px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
}

.music-player {
    position: absolute;
    width: 250px;
    margin-top: 590px;
    margin-left: -265px;
    border-radius: 5px;
    opacity: 0.5;
}

.music-player:hover {
    opacity: 1;
}

.richiest-people {
    position: absolute;
    width: 250px;
    margin-top: 590px;
    margin-left: 10px;
    border-radius: 5px;
    opacity: 0.5;
}

.richiest-people:hover {
    opacity: 1;
}

.label-music-player {
    position: absolute;
    top: 720px;
    right: 410px;
    bottom: 0px;
    left: 0px;
    font-weight: 700;
    font-size: 20px;
}

.music-player-description {
    position: absolute;
    top: 750px;
    left: 0px;
    right: 347px;
    bottom: 0px;
    font-size: 16px;
    font-weight: 400;
}

.label-drag-drop {
    position: absolute;
    top: 720px;
    right: 0px;
    bottom: 0px;
    left: 185px;
    font-weight: 700;
    font-size: 20px;
}

.drag-drop-description {
    position: absolute;
    top: 750px;
    left: 205px;
    right: 0px;
    bottom: 0px;
    font-size: 16px;
    font-weight: 400;
}

.digital-clock {
    position: absolute;
    width: 250px;
    margin-top: 810px;
    margin-left: -265px;
    border-radius: 5px;
    opacity: 0.5;
}

.digital-clock:hover {
    opacity: 1;
}

.label-digital-clock {
    position: absolute;
    top: 940px;
    right: 0px;
    bottom: 50px;
    left: -410px;
    font-weight: 700;
    font-size: 20px;
}

.digital-clock-description {
    position: absolute;
    top: 970px;
    left: -345px;
    right: 0px;
    bottom: 0px;
    font-size: 16px;
    font-weight: 400;
}

.crypto {
    position: absolute;
    width: 250px;
    margin-top: 1030px;
    margin-left: 10px;
    border-radius: 5px;
    opacity: 0.5;
}

.crypto:hover {
    opacity: 1;
}

.label-crypto {
    position: absolute;
    top: 500px;
    right: 0px;
    bottom: 50px;
    left: -465px;
    font-weight: 700;
}

.crypto-description {
    position: absolute;
    top: 530px;
    right: 0px;
    bottom: 0px;
    left: -314px;
    font-size: 16px;
}

.travel {
    position: absolute;
    width: 250px;
    margin-top: 1250px;
    margin-left: -265px;
    border-radius: 5px;
    opacity: 0.5;
}

.travel:hover {
    opacity: 1;
}

.label-travel {
    position: absolute;
    top: 500px;
    right: 0px;
    bottom: 0px;
    left: 80px;
    font-weight: 700;
    height: 0px;
}

.travel-description {
    position: absolute;
    top: 530px;
    right: 0px;
    bottom: 0px;
    left: 220px;
    font-size: 16px;
    font-weight: 400;
    height: 0px;
}

.photo {
    position: absolute;
    width: 250px;
    margin-top: 1250px;
    margin-left: 10px;
    border-radius: 5px;
    opacity: 0.5;
}

.photo:hover {
    opacity: 1;
}

.label-photo {
    position: absolute;
    top: 720px;
    right: 0px;
    bottom: 0px;
    left: -440px;
    font-weight: 700;
}

.photo-description {
    position: absolute;
    top: 750px;
    left: 0px;
    right: 307px;
    bottom: 0px;
    font-size: 16px;
    font-weight: 400;
}

.marketing {
    position: absolute;
    width: 250px;
    margin-top: 1470px;
    margin-left: -265px;
    border-radius: 5px;
    opacity: 0.5;
}

.marketing:hover {
    opacity: 1;
}

.label-marketing {
    position: absolute;
    top: 720px;
    right: 0px;
    bottom: 0px;
    left: 101px;
    font-weight: 700;
}

.marketing-description {
    position: absolute;
    top: 750px;
    left: 240px;
    right: 0px;
    bottom: 0px;
    font-size: 16px;
    font-weight: 400;
}

.bookstore {
    position: absolute;
    width: 250px;
    margin-top: 1470px;
    margin-left: 10px;
    border-radius: 5px;
    opacity: 0.5;
}

.bookstore:hover {
    opacity: 1;
}

.label-bookstore {
    position: absolute;
    top: 940px;
    right: 0px;
    bottom: 0px;
    left: -435px;
    font-weight: 700;
}

.bookstore-description {
    position: absolute;
    top: 970px;
    left: -290px;
    right: 0px;
    bottom: 0px;
    font-size: 16px;
    font-weight: 400;
}

/* BLOG PAGE */
.posts {
    position: absolute;
    top: 100px;
    right: 400px;
    bottom: 50px;
    left: 0px;
    font-weight: 700;
}

.label-first-post {
    position: absolute;
    top: 280px;
    right: 400px;
    bottom: 0px;
    left: 0px;
    font-weight: 700;
}

.first-post-description {
    position: absolute;
    top: 310px;
    right: 340px;
    bottom: 0px;
    left: 0px;
    font-weight: 400;
    font-size: 16px;
}

.footer-blog {
    color: rgb(77, 77, 79);
    font-size: 16px;
    position: relative;
    top: 350px;
    left: 0px;
    padding-bottom: 20px;
}

/* X-Small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 575px) {
    /* INDEX PAGE */
    .name {
        position: absolute;
        top: 200px;
        left: 0;
        right: 0;
        bottom: 0;
        margin-left: 35px;
        text-align: left;
    }

    .name2 {
        position: absolute;
        top: 240px;
        left: 0;
        right: 0;
        bottom: 0;
        margin-left: 35px;
        text-align: left;
    }

    .perfil-description {
        position: absolute;
        top: 300px;
        left: 30px;
        right: 30px;
        bottom: 0;
        margin-left: 5px;
        text-align: left;
    }

    .img {
        position: absolute;
        margin-top: 160px;
        margin-left: -40px;
        border-radius: 50%;
        height: 100px;
        border: rgb(255, 255, 255) 3px solid;
    }

    .bio {
        position: absolute;
        top: 550px;
        left: 0px;
        right: 0px;
        bottom: 10px;
        font-size: 20px;
        font-weight: 700;
        text-decoration: underline;
        margin-left: 35px;
        text-align: left;
    }

    .bio-year-1 {
        position: absolute;
        top: 590px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        font-size: 20px;
        font-weight: 700;
        margin-left: 35px;
        text-align: left;
    }

    .description {
        margin: 80px auto;
        background-color: rgb(49, 49, 52);
        border-radius: 10px;
        padding: 20px;
        min-width: calc(60% - 50px);
        max-width: calc(95% - 50px);
    }

    .bio-description-1 {
        position: absolute;
        top: 590px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        font-size: 20px;
        margin-left: 95px;
        text-align: left;
    }

    .bio-year-2 {
        position: absolute;
        top: 650px;
        left:  0px;
        right: 0px;
        bottom: 0px;
        font-size: 20px;
        font-weight: 700;
        margin-left: 35px;
        text-align: left;
    }

    .bio-description-2 {
        position: absolute;
        top: 650px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        font-size: 20px;
        margin-left: 95px;
        text-align: left;
    }

    .hobbies {
        text-decoration: underline;
        position: absolute;
        top: 730px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        font-size: 20px;
        font-weight: 700;
        margin-left: 35px;
        text-align: left;
    }

    .hobbies-list {
        position: absolute;
        top: 770px;
        left: 0px;
        right: 25px;
        bottom: 0px;
        font-size: 20px;
        margin-left: 35px;
        text-align: justify;
    }

    .social {
        position: absolute;
        top: 840px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        font-size: 20px;
        font-weight: 700;
        text-decoration: underline;
        margin-left: 35px;
        text-align: left;
    }

    .github-link {
        position: relative;
        margin-top: 560px;
        color: rgb(139, 185, 235);
        background-color: rgb(32, 32, 35);
        font-weight: 700;
        margin-left: -160px;
    
    }

    .linkedin-link {
        position: relative;
        margin-top: 690px;
        color: rgb(140, 186, 235);
        background-color: rgb(32, 32, 35);
        font-weight: 700;
        margin-left: -175px;
    }

    .todo {
        display: none;
    }

    .booklist {
        display: none;
    }
    
    .content-todo {
        margin: 30px auto;
        border-radius: 5px;
        padding: 13px;
        width: calc(100% - 80px);
        height: 170px;
        background: url(main-view-todo.png);
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
    }

    .content-booklist {
        margin: 30px auto;
        border-radius: 5px;
        padding: 13px;
        width: calc(100% - 80px);
        height: 170px;
        background: url(main-view-my-book-list.png);
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
        margin-top: 10%;
    }

    .label-todo {
        position: absolute;
        margin-top: 33%;
        top: 30%;
        left: 0px;
        font-size: 20px;
        font-weight: 700;
        height: 0px;
        color: white;
    }

    .label-booklist {
        position: absolute;
        margin-top: 33%;
        top: 30%;
        left: 30%;
        font-size: 20px;
        font-weight: 700;
        height: 0px;
        color: white;
    }

    .btn-projects {
        font-weight: 700;
        position: absolute;
        margin-top: 4%;
        margin-left: -66px;
        margin-right: 0px;
    }

    .footer-index-responsive {
        position: absolute;
        margin-top: 70px;
    }

    .footer-works-responsive {
        position: relative;
        top: 0px;
    }

    /* WORKS PAGE */
    .works {
        position: absolute;
        top: 80px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        font-weight: 700;
        height: 30px;
    }

    .todo-works {
        display: none;
    }

    .content-todo-works {
        margin: 150px auto;
        margin-bottom: 20%;
        border-radius: 5px;
        padding: 13px;
        width: calc(100% - 80px);
        height: 170px;
        background: url(main-view-todo.png);
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
    }

    .label-todo-works {
        position: absolute;
        margin-top: 33%;
        top: 33%;
        left: 0px;
        font-size: 20px;
        font-weight: 700;
        height: 0px;
        color: white;
        width: 100%;
    }

    .todo-description {
        position: absolute;
        margin-top: 43%;
        top: 33%;
        left: 0px;
        height: 0px;
        color: white;
        width: 100%;
    }

    .booklist-works {
        display: none;
    }

    .content-booklist-works {
        margin: auto;
        margin-bottom: 20%;
        border-radius: 5px;
        padding: 13px;
        width: calc(100% - 80px);
        height: 170px;
        background: url(main-view-my-book-list.png);
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
    }

    .label-booklist-works {
        position: absolute;
        margin-top: 33%;
        top: 33%;
        left: 0px;
        font-size: 20px;
        font-weight: 700;
        height: 0px;
        color: white;
        width: 100%;
    }

    .booklist-description {
        position: absolute;
        margin-top: 43%;
        top: 33%;
        left: 0px;
        height: 0px;
        color: white;
        width: 100%;
    }

    .dictionary {
        display: none;
    }

    .content-dictionary {
        margin: auto;
        margin-bottom: 20%;
        border-radius: 5px;
        padding: 13px;
        width: calc(100% - 80px);
        height: 170px;
        background: url(main-view-dictionary.png);
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
    }

    .label-dictionary {
        position: absolute;
        margin-top: 33%;
        top: 33%;
        left: 0px;
        font-size: 20px;
        font-weight: 700;
        height: 0px;
        color: white;
        width: 100%;
    }

    .dictionary-description {
        position: absolute;
        margin-top: 43%;
        top: 33%;
        left: 0px;
        height: 0px;
        color: white;
        width: 100%;
    }

    .analog-clock {
        display: none;
    }

    .content-analog-clock {
        margin: auto;
        margin-bottom: 20%;
        border-radius: 5px;
        padding: 13px;
        width: calc(100% - 80px);
        height: 170px;
        background: url(main-view-analog-clock.png);
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
    }

    .label-analog-clock {
        position: absolute;
        margin-top: 33%;
        top: 33%;
        left: 0px;
        font-size: 20px;
        font-weight: 700;
        height: 0px;
        color: white;
        width: 100%;
    }

    .analog-clock-description {
        position: absolute;
        margin-top: 43%;
        top: 33%;
        left: 0px;
        height: 0px;
        color: white;
        width: 100%;
    }

    .music-player {
        display: none;
    }

    .content-music-player {
        margin: auto;
        margin-bottom: 20%;
        border-radius: 5px;
        padding: 13px;
        width: calc(100% - 80px);
        height: 170px;
        background: url(main-view-music-player.png);
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
    }

    .label-music-player {
        position: absolute;
        margin-top: 33%;
        top: 33%;
        left: 0px;
        font-size: 20px;
        font-weight: 700;
        height: 0px;
        color: white;
        width: 100%;
    }

    .music-player-description {
        position: absolute;
        margin-top: 43%;
        top: 33%;
        left: 0px;
        height: 0px;
        color: white;
        width: 100%;
    }

    .richiest-people {
        display: none;
    }

    .content-richiest-people {
        margin: auto;
        margin-bottom: 20%;
        border-radius: 5px;
        padding: 13px;
        width: calc(100% - 80px);
        height: 170px;
        background: url(main-view-richiest-people.png);
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
    }

    .label-drag-drop {
        position: absolute;
        margin-top: 33%;
        top: 33%;
        left: 0px;
        font-size: 20px;
        font-weight: 700;
        height: 0px;
        color: white;
        width: 100%;
    }

    .drag-drop-description {
        position: absolute;
        margin-top: 43%;
        top: 33%;
        left: 0px;
        height: 0px;
        color: white;
        width: 100%;
    }

    .digital-clock {
        display: none;
    }

    .content-digital-clock {
        margin: auto;
        margin-bottom: 20%;
        border-radius: 5px;
        padding: 13px;
        width: calc(100% - 80px);
        height: 170px;
        background: url(main-view-digital-clock.png);
        background-size: contain;
        background-repeat: no-repeat;
        position: relative;
    }

    .label-digital-clock {
        position: absolute;
        margin-top: 33%;
        top: 33%;
        left: 0px;
        font-size: 20px;
        font-weight: 700;
        height: 0px;
        color: white;
        width: 100%;
    }

    .digital-clock-description {
        position: absolute;
        margin-top: 43%;
        top: 33%;
        left: 0px;
        height: 0px;
        color: white;
        width: 100%;
    }
    
    .coffe {
        border-radius: 5px;
        opacity: 0.5;
        position: absolute;
        margin-left: -120px;
        margin-top: 1070px;
    }

    .bienes-raices {
        border-radius: 5px;
        opacity: 0.5;
        position: absolute;
        margin-left: -120px;
        margin-top: 1300px;
    }

    .label-coffe {
        position: absolute;
        top: 1200px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        font-weight: 700;
    }

    .coffe-description {
        position: absolute;
        top: 1230px;
        right: 0px;
        bottom: 50px;
        left: 0px;
        font-weight: 400;
        font-size: 16px;
    }

    .label-bienes-raices {
        position: absolute;
        top: 1430px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        font-weight: 700;
    }

    .bienes-raices-description {
        position: absolute;
        top: 1460px;
        right: 0px;
        bottom: 50px;
        left: 0px;
        font-weight: 400;
        font-size: 16px;
    }

    .crypto {
        border-radius: 5px;
        opacity: 0.5;
        position: absolute;
        margin-left: -120px;
        margin-top: 2220px;
    }

    .label-crypto {
        position: absolute;
        left: 0px;
        font-weight: 700;
        margin-top: 1190px;
    }

    .crypto-description {
        position: absolute;
        left: 0px;
        margin-top: 1195px;
    }

    .travel {
        border-radius: 5px;
        opacity: 0.5;
        position: absolute;
        margin-left: -120px;
        margin-top: 2450px;
    }

    .label-travel {
        position: absolute;
        left: 0px;
        font-weight: 700;
        margin-top: 1200px;
    }

    .travel-description {
        position: absolute;
        left: 0px;
        margin-top: 1205px;
    }

    .photo {
        border-radius: 5px;
        opacity: 0.5;
        position: absolute;
        margin-left: -120px;
        margin-top: 2680px;
    }

    .label-photo {
        position: absolute;
        left: 0px;
        font-weight: 700;
        margin-top: 1430px;
    }

    .photo-description {
        position: absolute;
        left: 0px;
        margin-top: 1435px;
    }

    .marketing {
        border-radius: 5px;
        opacity: 0.5;
        position: absolute;
        margin-left: -120px;
        margin-top: 2910px;
    }

    .label-marketing {
        right: 0px;
        margin-top: 1435px;
    }

    .marketing-description {
        position: absolute;
        left: 0px;
        margin-top: 1435px;
    }

    .bookstore {
        border-radius: 5px;
        opacity: 0.5;
        position: absolute;
        margin-left: -120px;
        margin-top: 3140px;
    }

    .label-bookstore {
        position: absolute;
        left: 0px;
        font-weight: 700;
        margin-top: 1670px;
    }

    .bookstore-description {
        position: absolute;
        left: 0px;
        margin-top: 1670px;
    }

    .analog-clock-full-description {
        width: 90%;
        margin: 0 auto;
        margin-top: 150px;
        text-align: justify;
    }

    .todo-img {
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
    }

    .footer-todo {
        color: rgb(77, 77, 79);
        font-size: 16px;
        width: 90%;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .todo-tech-label {
        width: 90%;
    }

    .todo-tech-list {
        width: 90%;
    }

    .todo-features {
        width: 90%;
    }

    .todo-features-github {
        width: 90%;
    }

    /* BLOG PAGE */
    .posts {
        position: absolute;
        top: 80px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        font-weight: 700;
        height: 30px;
    }

    .label-first-post {
        position: absolute;
        top: 280px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        font-weight: 700;
    }
    
    .first-post-description {
        position: absolute;
        top: 310px;
        right: 0px;
        bottom: 50px;
        left: 0px;
        font-weight: 400;
        font-size: 16px;
    }

    .footer-blog-responsive {
        position: absolute;
        margin-top: 0px;
    }

}

/* Tablets y phablets */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    /* INDEX PAGE */
    .content-index {
        position: absolute;
        left: 0px;
        top: 0px;
        right: 0px;
        bottom: 2000px;
    }

    .name {
        margin-right: 0px;
    }

    .name2 {
        position: absolute;
        left: 0px;
        top: 170px;
        right: 30px;
        bottom: 0px;
    }

    .content-image {
        margin: 150px auto;
        border-radius: 50%;
        border: rgb(255, 255, 255) 3px solid;
        padding: 13px;
        width: 120px;
        height: 120px;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background: url(Me.jpeg);
        background-size: cover;
    }

    img.img {
        display: none;
    }

    .perfil-description {
        top: 220px;
        height: 0px;
    }

    .bio {
        position: absolute;
        top: 420px;
        left: 0px;
        right: 510px;
        bottom: 10px;
        font-size: 20px;
        font-weight: 700;
        text-decoration: underline;
    }

    .bio-year-1 {
        position: absolute;
        top: 460px;
        left: 0px;
        right: 500px;
        bottom: 10px;
        font-size: 20px;
        font-weight: 700;
    }

    .bio-description-1 {
        position: absolute;
        top: 460px;
        left: 0px;
        right: 150px;
        bottom: 0px;
        font-size: 20px;
    }

    .bio-year-2 {
        position: absolute;
        top: 490px;
        left: 0px;
        right: 500px;
        bottom: 10px;
        font-size: 20px;
        font-weight: 700;
    }

    .bio-description-2 {
        position: absolute;
        top: 490px;
        left: 45px;
        right: 0px;
        bottom: 0px;
        font-size: 20px;
    }

    .hobbies {
        text-decoration: underline;
        position: absolute;
        top: 540px;
        left: 0px;
        right: 465px;
        bottom: 10px;
        font-size: 20px;
        font-weight: 700;
    }

    .hobbies-list {
        position: absolute;
        top: 570px;
        left: -65px;
        right: 0px;
        bottom: 10px;
        font-size: 20px;
    }

    .social {
        position: absolute;
        top: 620px;
        left: 0px;
        right: 440px;
        bottom: 10px;
        font-size: 20px;
        font-weight: 700;
        text-decoration: underline;
    }

    .content-social {
        height: 0px;
    }

    .github-link {
        position: relative;
        margin-top: 40px;
        color: rgb(139, 185, 235);
        background-color: rgb(32, 32, 35);
        font-weight: 700;
    }

    .linkedin-link {
        position: relative;
        margin-top: 170px;
        color: rgb(140, 186, 235);
        background-color: rgb(32, 32, 35);
        font-weight: 700;
        margin-right: -15px;
    }

    .todo {
        position: absolute;
        width: 250px;
        margin-top: 230px;
        margin-left: -270px;
        border-radius: 5px;
        opacity: 0.5;
    }

    .booklist {
        position: absolute;
        width: 250px;
        margin-top: 230px;
        border-radius: 5px;
        opacity: 0.5;
    }

    .label-todo {
        position: absolute;
        top: 930px;
        bottom: 0px;
        left: -445px;
        right: 0px;
        font-size: 20px;
        font-weight: 700;
    }

    .label-todo-works {
        font-size: 20px;
    }

    .label-booklist {
        position: absolute;
        top: 930px;
        left: 160px;
        right: 0px;
        bottom: 10px;
        font-size: 20px;
        font-weight: 700;
    }

    .btn-projects {
        font-weight: 700;
        position: absolute;
        margin-top: 420px;
        margin-left: -66px;
    }

    .footer {
        color: rgb(77, 77, 79);
        font-size: 16px;
        width: 90%;
        margin: auto;
        margin-top: 470px;
        margin-bottom: 10px;
    }
}

